.set-Div {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  width: 100%;
  /* padding: 5vw 5vw 0 5vw; */
  /* margin: 1vw; */
  /* background-color: rgba(237, 233, 233, 0.644); */
  position: relative;
}

.set-Div_inputs {
  display: flex;
  flex-direction: column;
}

.round_button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}

//WorkoutList

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
