@import "../library";

.set-Div {
  width: 100%;
  padding: 5vw 5vw 0 5vw;
  margin-bottom: 2vh;
  position: relative;
  background: white;
  border-radius: @borderRadius;
  box-shadow: @boxShadow;
}

.set-Div_inputs {
  display: flex;
  flex-direction: column;
}

.round_button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 0px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5px;
}

//webcamAI

.webcam-stack-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.webcam-component {
  grid-row-start: 1;
  grid-column-start: 1;
  border-radius: 5px;
}

.webcam-canvas {
  grid-row-start: 1;
  grid-column-start: 1;
  border-radius: 5px;
  text-align: center;
  z-index: 2;
}

//Webcam overlay

.overlay-container {
  height: 100%;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  border-radius: 5px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-container-hide {
  display: none;
}

//WorkoutItem
.workout_container {
  height: 20vh;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 2px;
  width: 60vw;
  background: white;
  border-radius: @borderRadius;
  box-shadow: @boxShadow;
  position: relative;
}

.workout_info {
  margin: 1rem;
}

.startworkoutButton {
  font-size: smaller;
  padding: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

//WorkoutList
.workout_scroll {
  display: flex;
  margin-left: 5vw;
}

.workout_list {
  display: flex;
  overflow-x: scroll;
  width: 100vw;
  scrollbar-width: 0px;
}

.workout_list::-webkit-scrollbar {
  display: none;
}
